/* body{
    overflow: hidden;

} */

.App-header{
    min-height: 100vh;
    color: white;
    background-image: url('images/landing-page.jpg');
    height: 90%;
    background-repeat: no-repeat;
    background-size: cover;

    .login-container{
        border: 12px;
        width: 400px;
        position: absolute;
        top: 40%;
        left: 7%;

        .ant-card{
            .ant-card-body{
                border: 1px  black;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                width: 400px;

                border-radius: 15px;
            }
        }
    }

}


